.Main{
    height: 400px;
    width: 300px;
    max-width: 33%;
    flex: 33%;
    
    display: flex;
    justify-content: center;
    align-items: center;
.Card{
    background-color: white;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba( $color: #000000, $alpha: 0.6);
    &:hover{
        cursor: pointer;
        width: 73%;
        height: 73%;
    }
}
}