@import'../../shared/styles/colors.scss';
.MainContainer{
    background-color: $blue;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .HeaderContainer{
        background-color: $bluew;
        height: 8%;
        display: flex;
        justify-content: space-between;
        .HeadItem{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing: 2px;
            font-size: 25px;
            img{
                height: 80%;
            }
        }
    }
    

}