.Main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ChampInfoCont {
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        .ImageContainer {
        
            height: 100%;
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                box-shadow: 5px 5px 5px 5px rgba($color: #000000, $alpha: 0.6);
                width: 90%;
                max-height: 95%;
            }
        }
        .Info {
        
            height: 100%;
            width: 30%;
        }
    }
    .Skins {
        width: 100%;
        height: 25%;
        .SkinsContainer{
            height: 100%;
            width: 100%;
            display: flex;          
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: block;
              }
            img{
                height: 80%;
         
            }
        }
    }
}